* {
    border: 1px solid rgb(82, 9, 9);
}

* h2 {
    color: rgb(25, 85, 126);
}

#apartado {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: rgb(129, 214, 214);
}

img {
    width: 200px;
    height: 200px;
}


